@font-face {
    font-family: "entypo";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"),
    	 url("../fonts/entypo.woff") format("woff"),
    	 url("../fonts/entypo.ttf") format("truetype"),
    	 url("../fonts/entypo.svg#entypo") format("svg");
}

@import "font-awesome/scss/font-awesome";
