
$page-background	: #fbfcfc !default;
$page-width			: 100% !default;
//$font-family		: "Ubuntu", "sans-serif" !default;
$font-family		: "Open sans", "sans-serif" !default;

$header-height		: 60px !default;
$footer-height		: 30px !default;

$logo-height		: 48px !default;
$breadcrumb-height	: 28px !default;

$nav-width			: 250px;
